body {
  /* font-family: "Raleway", sans-serif; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/*logo*/
nav {
  background: #11151e !important;
}
.navbar-brand {
  & img {
    width: 150px;
  }
}

.contenedor-header {
  display: flex;
  justify-content: center;
  align-items: center;
  & .box-imagen-header {
    & img {
      width: 400px;
    }
  }
}

/* Hero Section */

#Hero-Section {
  background-image: url("../img/bg-header-mr-gantiva.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

.text {
  display: inline-block;
  & h1 {
    overflow: hidden;
    font-size: 4rem;
    border-right: 0.15em solid orange;
    white-space: nowrap;
    animation: typing 1.5s steps(20, end) forwards, blinking 0.75s infinite;
  }
}

.btn-trabajos {
  border: 0.1rem solid orange;
  &:hover {
    background: orange;
    color: #000;
    transition: all 0.2s ease-in-out;
  }
}

.btn-contacto {
  background: rgb(216, 141, 1);
  &:hover {
    background: rgb(248, 170, 24);
    transition: all 0.2s ease-in-out;
  }
}

/* Mis trabajos */

.bg-mis-trabajos {
  background: #11151e;
}

#Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  border-radius: 10px;
  border-bottom: 2px solid #ededed;
  overflow: hidden;
  border-radius: 5px;
  &:hover {
    transform: scale(0.99);
    transition: all 0.5s ease-in-out;
  }
}

.tag-herramientas {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 5px;
  .box-herramienta {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    font-size: 10px;
    & i {
      width: 100%;
      font-size: 30px;
      text-align: center;
    }
  }
}
.html-tag {
  background: #e34c26;
  color: #fafaf5;
  padding: 2px 5px;
  border-radius: 4px;
}
.css-tag {
  background: #264de4;
  color: #fafaf5;
  padding: 2px 5px;
  border-radius: 4px;
}
.javascript-tag {
  background: #f0db4f;
  color: #000;
  padding: 2px 5px;
  border-radius: 4px;
}

.card-text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.btn-ver-mas {
  border: 1px solid orange;
  font-weight: 500;
  margin-top: 10px;
  &:hover {
    background: orange;
    color: #fafaf5;
    font-weight: 500;
    transition: all 0.5s ease-in-out;
  }
}

/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand {
    width: 100px;
  }
}

@media (300px <= width <= 481px) {
  .contenedor-header {
    flex-direction: column;
    & .box-imagen-header {
      & img {
        width: 150px;
      }
    }
  }
  .text {
    & h1 {
      font-size: 1.5rem;
    }
  }
  .bg-mis-trabajos {
    padding: 1.5rem !important;
  }
}

@media (482px <= width <= 768px) {
  .contenedor-header {
    flex-direction: column;
    & .box-imagen-header {
      & img {
        display: none;
      }
    }
  }
  .text {
    & h1 {
      font-size: 1.5rem;
    }
  }
  .bg-mis-trabajos {
    padding: 1.5rem !important;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blinking {
  from {
    border-color: transparent;
  }
  to {
    border-color: orange;
  }
}
